//Colors
$primary__soft-red: hsl(7, 99%, 70%);
$primary__yellow: hsl(51, 100%, 49%);
$primary__dark-desaturated-cyan: hsl(167, 40%, 24%);
$primary__dark-blue: hsl(198, 62%, 26%);
$primary__dark-moderate-cyan: hsl(168, 34%, 41%);
$primary__cyan: hsl(167, 44%, 70%);
$primary__light-blue: hsl(200, 100%, 72%);

$neutral__very-dark-desaturated-blue: hsl(212, 27%, 19%);
$neutral__very-dark-grayish-blue: hsl(213, 9%, 39%);
$neutral__dark-grayish-blue: hsl(232, 10%, 55%);
$neutral__grayish-blue: hsl(210, 4%, 67%);
$neutral__white: hsl(0, 0%, 100%);

//Typography
$fs-copy: 1.1rem;
$fs-copy-lg: 1.2rem;
$fs-header: 2.8rem;
$fs-header-lg: 4.5rem;
$fs-h2: 1.9rem;

$ff-primary: 'Barlow', sans-serif;
$ff-secondary: 'Fraunces', serif;

$fw-semi-bold: 700;
$fw-bold: 700;
$fw-black: 900;
